@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  /*outline:1px solid rgb(0, 191, 255);*/
}

/*全站設定*/
body {
  font-family: "Roboto", "Noto Sans TC";
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1296px;
  padding: 0 36px;
  margin: 0 auto;
}

/*text*/
h1, h2, h3, h4 {
  color: #650300;
  font-weight: bold;
}

h1 {
  font-size: 64px;
  margin-bottom: 4px;
}

h2 {
  font-size: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 48px;
  font-style: italic;
  background: #fff;
  color: #AA0601;
  padding: 12px 0;
}

h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

/*card-list*/
.card-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/*網站樣式*/
.header {
  background: #AA0601;
  padding: 25px 36px;
}
.header .container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
.header .menu {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.header img {
  width: 80px;
}
.header .menu a:hover {
  color: #FBF2F2;
  border-bottom: 1px solid;
}

.banner {
  width: 100%;
  background-image: url(../image/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 296px 0;
}
.banner .bn-text {
  text-align: right;
}
.banner p {
  font-size: 36px;
  color: #650300;
}
.banner a {
  background: #AA0601;
  padding: 6px 12px;
  margin: 4px;
}
.banner a:hover {
  background: #fff;
  color: #aa0601;
}

.feature {
  background: #FBF2F2;
}
.feature .card {
  max-width: 306px;
  margin: 0 auto;
}
.feature .icon {
  width: 100px;
  margin: auto;
  margin-bottom: 16px;
}

.classic-series .card {
  width: 30%;
}

.co-branding {
  background-image: url(../image/index-bg.png);
}
.co-branding h2 {
  color: #fff;
}
.co-branding .card-list {
  gap: 0px;
}

.customer-rec .card {
  max-width: 306px;
  max-height: 511px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  overflow: cover;
  position: relative;
  flex-grow: 1;
}
.customer-rec .card-text {
  padding: 16px;
  margin-bottom: 72px;
  flex-grow: 1;
}
.customer-rec .card-text .name {
  margin-bottom: 8px;
}
.customer-rec .date {
  color: #707070;
  font-size: 14px;
  margin-bottom: 0 auto;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.contract {
  background: #FBF2F2;
}
.contract .wrap {
  max-width: 636px;
  margin: 0 auto;
}
.contract .contract-text {
  font-size: 20px;
  margin-bottom: 24px;
}
.contract li {
  text-align: left;
  margin-bottom: 16px;
}
.contract label {
  margin-bottom: 8px;
}
.contract input {
  background: none;
  outline: none;
  border: 1px solid #000;
  width: 100%;
  padding: 6px 12px;
}
.contract input[type=submit] {
  max-width: 416px;
  background: #AA0601;
  color: #fff;
  font-weight: bold;
  border: 0px;
  padding: 16px 0;
}
.contract input[type=submit]:hover {
  opacity: 0.9;
}
.contract .agree {
  margin-bottom: 48px;
  display: flex;
}
.contract .agree input[type=checkbox] {
  width: 5%;
}

.footer {
  background: #AA0601;
  color: #fff;
  padding: 60px 0 32px 0;
}
.footer .navbar, .footer .menu, .footer .icon, .footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .navbar {
  margin-bottom: 60px;
}
.footer .menu {
  gap: 48px;
}
.footer .icon {
  gap: 32px;
}
.footer .icon img {
  max-width: 48px;
}
.footer span {
  filter: brightness(100);
}
.footer .tel, .footer .mail {
  font-size: 36px;
}
.footer .tel {
  margin-bottom: 8px;
}
.footer .copyright {
  padding-top: 24px;
  border-top: 1px solid #fff;
  margin-top: 32px;
}
.footer .copyright .mr-48 {
  margin-right: 48px;
}

.feature, .classic-series, .co-branding, .customer-rec, .contract {
  text-align: center;
  padding: 80px 0;
}
.feature p, .classic-series p, .co-branding p, .customer-rec p, .contract p {
  text-align: left;
}

@media (max-width: 992px) {
  .card-list {
    width: 100%;
    flex-wrap: wrap;
  }
  .classic-series .card-list, .co-branding .card-list {
    flex-direction: column;
  }
  .classic-series .card-list {
    align-items: center;
  }
  .classic-series .card-list .card {
    width: 336px;
  }
  .co-branding .card {
    margin-bottom: 24px;
  }
  .customer-rec {
    flex-wrap: wrap;
  }
  .customer-rec .card {
    max-width: 47%;
  }
  .contract .wrap {
    padding: 0 60px;
  }
  .contract .wrap .contract-text {
    font-size: 16px;
  }
  .contract input[type=submit] {
    max-width: 100%;
  }
  .footer .menu {
    gap: 48px;
  }
  .footer .icon {
    img: 40px;
    gap: 16px;
  }
}/*# sourceMappingURL=all.css.map */