
  //字型//
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");



  /*text*/
  h1, h2, h3, h4{
    color:#650300;
    font-weight: bold;
  }
  h1{
    font-size: 64px;
    margin-bottom: 4px;
  }
  h2{
    font-size: 48px;
    margin-bottom: 24px;
  }
  h3{
    font-size: 48px;
    font-style: italic;
    background: #fff;
    color: #AA0601;
    padding: 12px 0;
  }
  h4{
    font-size: 24px;
    margin-bottom: 8px;
  }

    /*card-list*/
.card-list{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  